<div class="container-fluid" style="text-align: center; margin-left: auto;
margin-right: auto;">
  <label>Edytuj pracownika</label>
  <form>

    <div class="form-group row">
      <div class="col-sm-5" style="text-align: center; margin-left: auto; margin-right: auto;">
        <div class="md-form mt-1">
          <label for="inputEmail3MD" class="col-sm-6 col-form-label">Imię</label>
          <input type="text" [(ngModel)]="pracownik.imie" name="imie" class="form-control" id="inputEmail3MD"
            placeholder="imie">
        </div>
      </div>
    </div>

    <div class="form-group row">
      <div class="col-sm-5" style="text-align: center; margin-left: auto; margin-right: auto;">
        <div class="md-form mt-1">
          <label for="inputEmail3MD" class="col-sm-6 col-form-label">Nazwisko</label>
          <input type="text" [(ngModel)]="pracownik.nazwisko" name="nazwisko" class="form-control" id="inputEmail3MD"
            placeholder="nazwisko">
        </div>
      </div>
    </div>

    <div class="form-group row">
      <div class="col-sm-5" style="text-align: center; margin-left: auto; margin-right: auto;">
        <div class="md-form mt-0">
          <label for="inputEmail3MD" class="col-sm-6 col-form-label">Stanowisko</label>
          <input type="text" [(ngModel)]="pracownik.stanowisko" name="stanowisko" class="form-control" id="inputEmail3MD"
            placeholder="stanowisko">
        </div>
      </div>
    </div>

    <div class="form-group row">
      <div class="col-sm-5" style="text-align: center; margin-left: auto; margin-right: auto;">
        <div class="md-form mt-0">
          <label for="inputEmail3MD" class="col-sm-6 col-form-label">Data zatrudnienia</label>
          <input readonly type="text" [(ngModel)]="pracownik.dataZatrudnienia" name="data_zatrudnienia" class="form-control" id="inputEmail3MD"
            placeholder="data zatrudnienia">
        </div>
      </div>
    </div>

    <div class="form-group horizontal">
      <label for="inputEmail3MD" class="col-sm-6 col-form-label">Magazyn</label>
        <div ngbDropdown class="d-block-inline">
          <button class="btn btn-outline-secondary col-sm-4" id="dropdownBasic1" ngbDropdownToggle>{{magazynName}}</button>
          <div ngbDropdownMenu  aria-labelledby="dropdownBasic1">
            <button ngbDropdownItem *ngFor="let magazyn of magazyny"
              (click)="setIdMagazynu(magazyn.idMagazynu, magazyn.nazwa)">{{magazyn.nazwa}}</button>
          </div>
        </div>
      </div>

    <button type="button" class="btn btn-success" (click) = "editPracownik()" >Edytuj</button>
  </form>
</div>
